---
//main imports
import Layout from "../layouts/mainLayout.astro";
import "../styles/global.css";
// Component Imports
import { Button } from "@/components/ui/button";
import { navigate } from "astro:transitions/client";
---

<Layout title="LeTour Speak">
	<div class="grid place-items-center h-screen content-center">
		<a href="/" class="p-4 underline">
			<Button variant="letu">Go home</Button>
		</a>
		<a href="/broadcast" class="p-4 underline">Broadcasting (not yet)</a>
	</div>
</Layout>
