---
//main imports
import Layout from "../layouts/main.astro";
import "../styles/global.css";
// Component Imports
import { Button } from "@/components/ui/button";
import { navigate } from "astro:transitions/client";
---

<Layout title="LeTour Speak">
	<div class="grid place-items-center h-screen content-center">
		<Button href="/">Go home</Button>
		<a href="/" class="p-4 underline">Go home</a>
		<a href="/broadcast" class="p-4 underline">Broadcasting (not yet)</a>
	</div>
</Layout>