---
//main imports
import Layout from "../layouts/listenLayout.astro";
import "../styles/global.css";
import defineConfig from "astro.config.mjs";
// Component Imports
import { Button } from "@/components/ui/button";
import { navigate } from "astro:transitions/client";
import BroadcastSoundbyte from "@/components/sound/BroadcastSoundbyte";
import BroadcastMic from "@/components/sound/BroadcastMic";
//variables
const baseURL = import.meta.env.BASE_URL;
---

<Layout title="RK Broadcast" description="RK Broadcast">
	<div class="grid place-items-center h-screen content-center">
		<a href={baseURL} class="p-4 underline">
			<Button variant="letu">Go home</Button>
		</a>
		<BroadcastSoundbyte client:only="react"/>
		<BroadcastMic client:only="react" />
	</div>
</Layout>
