---
//main imports
import Layout from "../layouts/listenLayout.astro";
import "../styles/global.css";
// Component Imports
import { Button } from "@/components/ui/button";
import { navigate } from "astro:transitions/client";
import BroadcastSoundbyte from "@/components/BroadcastSoundbyte";
---

<Layout title="LeTour Speak">
	<div class="grid place-items-center h-screen content-center">
		<a href="/" class="p-4 underline">
			<Button variant="letu">Go home</Button>
		</a>
		<BroadcastSoundbyte client:only="react"/>
	</div>
</Layout>
