---
//To do:
//	- Bring this page up to the quality of the listening page.
//	- Make the "Answer Question" button a dotted line if there are no incoming questions.

//main imports
import Layout from "../layouts/listenLayout.astro";
import "../styles/global.css";
import defineConfig from "astro.config.mjs";
// Component Imports
import { Button } from "@/components/ui/button";
import { navigate } from "astro:transitions/client";
import BroadcastSoundbyte from "@/components/sound/BroadcastSoundbyte";
import BroadcastMic from "@/components/sound/BroadcastMic";
//variables
const baseURL = import.meta.env.BASE_URL;
---

<Layout title="LeTour Broadcast" description="LeTour Broadcast">
	<!-- <div class="grid place-items-center h-screen content-center"> -->
	<div class="container text-center mx-auto px-4">
		<a href={baseURL} class="underline">
			<Button variant="letu" className="mt-3 mb-3 text-[28px] font-bold w-full max-w-[500px] h-14 px-6 py-2">Go Home</Button>
		</a>
		
		<!-- Display number of connected users here in place of the # symbol: -->
		<h1 class="mt-2 mb-2 text-3xl font-bold text-gray-200 mb-6">
			Connected users: #
		</h1>

		<div class="pb-6 relative flex justify-center"> <!-- object-cover makes the image dynamically crop -->
			<img src=`images/LeTour Guide QR Code (Yellow).png` 
				class="h-[300px] object-cover" 
				alt="Background" 
			/>	
		</div>

		<!-- Broadcast button: -->
		<div class="mb-4 border-yellow-400 border-10">
			<BroadcastMic client:only="react" />
		</div>
		
		<!-- Sound effect button: -->
		<!-- <BroadcastSoundbyte client:only="react"/> -->

		<!-- The answer question button: -->
		<!-- ANSWER QUESTION BUTTON HAS BEEN COMMENTED OUT:
		<div class="flex flex-col items-center space-y-4">
			<Button variant="letu" className="mt-[1vw] text-[28px] font-bold w-r40 h-40 bg-yellow-700 rounded-full px-6 py-2">No Incoming<br>Questions</Button>
		</div>
		-->
	</div>
</Layout>
