---
//main imports
import Layout from "../layouts/main.astro";
import "../styles/global.css";
// Component Imports
import { Button } from "@/components/ui/button";
import { navigate } from "astro:transitions/client";
//import Button from "../components/Button.astro";
//variables


// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<Layout title="LeTour">
	<div class="grid place-items-center h-screen content-center">
		<a href="/listen" class="p-4 underline">
			<Button>Go to Listen</Button>
		</a>
		<a href="/broadcast" class="p-4 underline">
			<Button>Go to Broadcast</Button>
		</a>
	</div>
</Layout>

<!-- Original html without using the main layout -->
<!-- <html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>LeTour</title>
	</head>

	<body>
		<div class="grid place-items-center h-screen content-center">
			<Button onClick={() => navigate('/listen')}>Go to Listen</Button>
			<a href="/listen" class="p-4 underline">Go to Listen</a>
		</div>
	</body>
</html> -->
