---
//main imports
import Layout from "../layouts/main.astro";
import "../styles/global.css";
// Component Imports
import { Button } from "@/components/ui/button";
import { navigate } from "astro:transitions/client";
---

<Layout title="LeTour Listen">
	<div class="grid place-items-center h-screen content-center">
		<a href="/" class="p-4 underline">
			<Button>Go home</Button>
		</a>
		<a href="/listen" class="p-4 underline">Listen to a tour...</a>
	</div>
</Layout>
