---
import Layout from "../layouts/listenLayout.astro";
import "../styles/global.css";
import defineConfig from "astro.config.mjs"
import ListenAudio from "@/components/sound/ListenAudio";
import { Button } from "@/components/ui/button";
import { navigate } from "astro:transitions/client";
---

<Layout title="LeTour Listen">
	<div class="grid place-items-center h-screen content-center">
		<ListenAudio client:only="react" />
		<a href={defineConfig.base} class="p-4 underline">
			<Button variant="letu">Go home</Button>
		</a>
		<a href={defineConfig.base + "listen"} class="p-4 underline">Listen to a tour...</a>
	</div>
</Layout>
