---
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";

//export const MainLayout = true;
const {
	title,
	description,
	showNavigation = true,
	navigationItems,
} = Astro.props;

// Default navigation items
const defaultNavigationItems = [
	{ label: "Home", href: "/" },
	{
		label: "Google",
		href: "https://google.com",
		external: true,
	},
];

//if the component does not have navigation items, use the default
const navItems = navigationItems || defaultNavigationItems;

const base = import.meta.env.BASE_URL || "/";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={`${base}/favicon.svg`} />
		<title>{title}</title>
	</head>
	<body class="bg-gray-500 min-h-screen">
		{showNavigation && <Navigation items={navItems} />}
		<slot />
	</body>
</html>
